
@{
    ViewBag.Title = "ApplicationAdministration";
}

<h2>Application Administration</h2>

<ul>
    <li>@Html.ActionLink("Manage Ski Resorts", "Index", "SkiResorts")</li>
    <li>@Html.ActionLink("Manage Ski Resort Reviews", "Index", "Reviews")</li>
    <li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
</ul>

