
@{
    ViewBag.Title = "ApplicationAdministration";
}

<h2>Admin Home</h2>

<div class="container">
    <p class="btn-create">@Html.ActionLink("Manage Ski Resorts", "Index", "SkiResorts")</p>
    <p class="btn-create">@Html.ActionLink("Manage Ski Resort Reviews", "Index", "Reviews")</p>
    <p class="btn-create">@Html.ActionLink("Manage Users", "Index", "Account")</p>
    <p class="btn-create">@Html.ActionLink("Manage Users Roles", "Index", "IdentityRole")</p>
</div>

