@{
    ViewBag.Title = "Contact";
}
<h2>Contact North Amercia Ski Resorts</h2>

<address>
    5634 Snowbird Ln.<br />
    Aspen, CO 81342<br />
    <p class="Phone">Phone: 425.555.0100 </p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@nasr.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@nasr.com</a>
</address>