@{
    ViewBag.Title = "Home Page";
}

<div class="container front-page-style">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="feature-wrapper">
                <h2>Big Sky | Montana</h2>
                <img src="~/Content/Big-Sky-02.jpg" alt="Big Sky"/>
                <a href="/SkiResorts/Details/6">Learn More</a>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="feature-wrapper">
                <h2>Telluride | Colorado</h2>
                <img src="~/Content/telluride.jpg" alt="Telluride" />
                <a href="/SkiResorts/Details/7">Learn More</a>
            </div>
       </div>
       <div class="col-sm-4 col-xs-12">
           <div class="feature-wrapper">
               <h2>Snowmass | Colorado</h2>
               <img src="~/Content/aspen_slideshow_1.jpg" alt="Aspen" />
               <a href="/SkiResorts/Details/1">Learn More</a>
           </div>
       </div>
    </div>
</div>


