@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Ski Resort One</h2>
    </div>
    <div class="col-md-4">
        <h2>Ski Resort Two</h2>
    </div>
    <div class="col-md-4">
        <h2>Ski Resort Three</h2>
    </div>
</div>